form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .form-group {
        display: flex;
        flex-direction: column;

        label {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            color: $color-grey-dark;
        }

        input[type="email"],
        input[type="password"] {
            padding: 0.7rem;
            border: 1px solid $color-primary-three;
            border-radius: 0.5rem;
            font-size: 1rem;
            max-width: 90%;

            &:focus {
                outline: none;
                border-color: black;
                box-shadow: 0 0 5px rgba( $color-primary-four, 0.4);
            }
        }
    }

    input[type="checkbox"] {
        display: inline-block;
        width: auto;
    }

    .btn-login {
        padding: 1rem;
        font-size: 1.1rem;
        background-color: $color-primary-four;
        color: $color-white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        max-width: 90%;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: mix($color-primary-four,black,20%);
        }
    }

    .inline-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;

        &__text {
            margin: 0;
            font-size: 1rem;
        }

        &__forgot-password, &__signup {
            text-decoration: none;
            color: $color-primary-four;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
