.modal {
    justify-content: center;
    align-items: center;
    background-color: rgba($color-black, 0.5);

    .modal-content {
        width: 80%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        /* Layout and Positioning */
        .expense-table-form-column {
            display: flex;
            flex-direction: column;
            width: 100%;

            .left-side {
                flex-direction: column;
                width: 100%;
                border-collapse: collapse;
                text-align: center;

                .manager-comments {
                    background-color: $color-primary-three;
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                    margin: 0.5rem;
                    max-height: 2.5rem;

                    p {
                        color: $color-white;
                        font-style: italic;
                        display: flex;
                    }
                }

                .expense-table-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;

                    .expense-table-currency-select {
                        display: flex;
                        flex-direction: column;

                        label {
                            margin-bottom: 0.5rem;
                        }

                        select {
                            width: 100%;
                            padding: 0.5rem;
                        }
                    }

                    .expense-add-item-btn {
                        padding: 0.5rem 1rem;
                        background-color: $color-primary-three;
                        border-radius: 0.5rem;
                        color: $color-white;
                        cursor: pointer;

                        &:hover {
                            background-color: $color-primary-four;
                        }
                    }
                }

                .expense-bill-table {
                    background-color: $color-black;
                    color: $color-white;
                    font-weight: bold;

                    thead {
                        padding: 1rem;
                        border-bottom: 1px solid $color-grey-dark-2;
                    }
                }

                .expense-bill-body {
                    border-width: 0.1rem;

                    tr {
                        background-color: $color-white;
                        color: $color-black;

                        td {
                            white-space: nowrap;
                            padding: 1rem;
                            border: 1px solid $color-grey-dark-2;

                            .delete-expense-btn, .edit-expense-btn {
                                border-radius: 0.5rem;
                            }
                        }

                        &:hover {
                            background-color: $color-grey-light-3;
                            border: 1px solid $color-grey-dark-2;
                        }
                    }
                }

                .total-container {
                    background-color: black;
                    color: white;
                    justify-content: space-between;
                    display: flex;
                    margin-bottom: 0.5rem;

                    strong {
                        font-size: 1.2rem;
                    }

                    #totalAmount {
                        font-weight: bold;
                        margin-right: 0.2rem;
                    }
                }

                .btn-position {
                    display: flex;
                    gap: 1rem;
                    justify-content: center;

                    .submit-btn, .cancel-btn, .resubmit-btn {
                        padding: 0.5rem 1rem;
                        background-color: $color-primary-three;
                        border-radius: 0.5rem;
                        color: $color-white;
                        cursor: pointer;
                        margin-right: 0.5rem;

                        &:hover {
                            background-color: $color-primary-four;
                        }
                    }
                }
            }
        }
        /* Right Side */
        .right-side {
            flex-direction: column;
            width: 50%;
            padding: 1rem;
            box-shadow: 0 0.5rem 1rem rgba($color-primary-four, 0.4);
            background-color: $color-white;
            /* Layout and Positioning */
            form {
                display: flex;
                flex-direction: column;

                .close-button {
                    cursor: pointer;
                    font-size: 1rem;
                }

                label {
                    font-weight: bold;
                    margin-bottom: 0.5rem;
                }

                input {
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    border: 1px solid $color-grey-dark;
                    border-radius: 0.5rem;
                }

                .commentBox {
                    background-color: $color-grey-light-1;
                    border: 2px solid $color-primary-three;
                    font-style: italic;
                    height: 7rem;
                }
                /* Spacing */
                #addItemBtn,
                #editExpenseBtn,
                #submitManagerComments {
                    align-self: center;
                    padding: 0.5rem 1rem;
                    background-color: $color-primary-three;
                    color: $color-white;
                    border: none;
                    border-radius: 0.5rem;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-primary-four;
                    }
                }
            }
        }
    }
}
