.navbar {
    background-color: $color-primary-four;
    height: 4rem;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba($color-black, 0.4);

    a {
        text-decoration: none;
        color: $color-white;
        font-weight: bold;

        img {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 0.5rem;
        }

        span {
            font-size: 1.5rem;
            color: $color-white;
        }
    }

    .logout-button {
        background: none;
        border: none;
        color: $color-white;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }
}
