.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .login-credentials, .basic-info {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba($color-primary-four, 0.4);
        padding: 1rem;
        gap: 0.3rem;

        h3 {
            color: $color-primary-four;
            font-size: 1.5rem;
        }

        input[type="email"],
        input[type="password"],
        input[type="text"],
        input[type="number"],
        select {
            padding: 0.7rem;
            border: 1px solid $color-primary-three;
            border-radius: 0.5rem;
            font-size: 1rem;
            max-width: 100%;
            width: 100%;

            &:focus {
                outline: none;
                border-color: black;
                box-shadow: 0 0 5px rgba($color-primary-four, 0.4);
            }
        }

        .row-age-gender {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .form-group {
                flex: 1;
            }
        }

        .form-group {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: -0.1rem;
                font-size: 1rem;
                color: $color-grey-dark;
            }
        }
    }

    .signup-btn-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
        
       .btn-login{
            width: 100%;
        }
    }
}
