.toast {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 1rem 2rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5); 
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    
    z-index: 1000;

    &.show {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }
}
