<div class="charts-container">
    <h2 class="chart-heading">Total Monthly Expenses Submitted</h2>
    <canvas id="totalAmountChart" class="chart"></canvas>

    <h2 class="chart-heading">Status Overview</h2>
    <canvas id="expenseStatusChart" class="pie-chart"></canvas>
</div>

