//COLORS
$color-primary-one: #F2E8C6;
$color-primary-two: #DAD4B5;
$color-primary-three: #982B1C;
$color-primary-four: #800000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ddd;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-white: #FFFFFF;
$color-black: #000000;
$color-peach: #ffc371;