.container {
    background-color: $color-white;
    padding: 1rem;
    border-radius: 0.8rem;
    margin: 1rem auto;
    max-width: 95%;
    box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.4);
    display: flex;
    flex-direction: row ;
    overflow-x: auto;
}
